html,
body {
	height: 100%;
}

/*sticky footer*/
.wraper {
	min-height: 100%;
	margin-bottom: -83px;
}

.wraper:after {
	content: "";
	display: block;
}

.wraper:after,
.page-footer {
	height: 80px;
}
/*end of sticky footer*/

.hide {
	position: absolute;
	left:-9999px;
}

section {
	padding: 60px 0;
}