footer.page-footer
	nav.nav
		ul.nav__list
			each item in ['Contact','Download','Press','Email','Support','Privacy Policy']
				li.nav__item
					a.nav__link(href="#")=item
<!-- build:js js/vendor.js --> 
//bower:js
script(src='/bower/jquery/dist/jquery.js')
//endbower
<!-- endbuild -->

<!-- build:js js/main.js --> 
script(src="js/main.js")

<!-- endbuild -->
