header.page-header
	.container
		.row
			.header__title
				h2 Notify
			.header__descr
				p A great new free psd theme to showcase your new application.

			.socials
				ul.socials__list
					each item in ['apple', 'android', 'windows']
						li.socials__item
							a(href="#" class="socials__link socials__link--" + item)= item