section.skills
	.container
		.row
			.col-md-4
				.skills__content.icon-box--part
					.skills__title
						h2 Editable Theme
					.skills__text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
			.col-md-4
				.skills__content.icon-box--star
					.skills__title
						h2 Flat Design
					.skills__text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
			.col-md-4
				.skills__content.icon-box--earth
					.skills__title
						h2 Reach Your Audience
					.skills__text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla.
