section.updates
	.container
		.row
			.col-md-6.col-xs-12
				form(action="").updates__form
					.updates__title Get Notified Of Any Updates!
					.updates__text
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue.
								| Maecenas nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
								| hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
					label.updates__label
						input(type="text" placeholder="Email Address").updates__input
						input(type="submit" value="Notify").updates__btn 


			.col-md-6.col-xs-12
				.updates__video
					p(style="background-image: url('/images/bg/header.png')")

