doctype html
html(lang="ru-RU")
	include ../common/head.jade

	body
		.wrapper
			include ../common/header.jade

			include ../common/skills.jade
			
			include ../common/updates.jade

			include ../common/face.jade

		include ../common/footer.jade